<!doctype html>
<html>
    <head>
        <style>
            form{
                margin-top: 5%;
                width: 70%;             
            }
        </style>
    </head>
    <body>
        <form action = "/soma" method="post">
            Insira o primeiro número: <input type="text" name="n1"/><p></p>
            Insira o segundo número: <input type="text" name="n2"/><p></p>
            Insira o terceiro número: <input type="text" name ="n3"/><p></p>
            <button type="submit"> Confirmar </button>
        </form>
    </body>
</html>